*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-blue: #261275;
    --bg-secondary: #fff;
    --text-primary: #ffffff;
    --font-size-h1: 2.5rem;
    font-size: 1rem;
    color: var(--text-primary);
    background-color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
}